.clock{
	position: absolute;
	display: flex;
	left: 50%;
	margin-top: 1%;
	margin-left: -10vmin;
	height: 20vmin;
	width: 20vmin;
	justify-content: center;
	align-items: center;
	background: url(../images/clock.png);
	background-size: cover;
	border: .4vmin solid #282b29;
	border-radius: 50%;
	box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
				inset 0 -15px 15px rgba(255, 255, 255, 0.05),
				0 15px 15px rgba(0, 0, 0, 0.5),
				inset 0 15px 15px rgba(0, 0, 0, 0.5);
}

.clock::before{
	content: '';
	position: absolute;
	width: .65vh;
	height: .65vh;
	background: #fff;
	border-radius: 50%;
	z-index: 10;
	background-color: orange;
}

.hour, .minute, .second{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hour::before{
	position: absolute;
	content: "";
	height: 4vh;
	width: .25vw;
	bottom: 0;
	background: black;
	border-radius: 10px;
	z-index: 3;
}

.minute::before{
	position: absolute;
	content: "";
	height: 6vh;
	width: .15vw;
	bottom: -1vh;
	background: gray;
	border-radius: 10px;
	z-index: 2;
}

.second::before{
	position: absolute;
	content: "";
	height: 8vh;
	width: .1vw;
	bottom: -2vh;
	background: orange;
	border-radius: 10px;
	z-index: 1;
}