/* #9265B8 - sorting red */
/* #F08C29 - orange */
/* #313B78 - swapping blue */
/* #282B29 - backgorund gray */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	background: #282B29;
	z-index: 1;
}

.arrayContainer{
	display: flex;
	align-items: flex-end;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 10px;
	height: 65vmin;
}

.bar{
	position: relative;
	width: 100%;
	background-color: white;
}

.buttonContainer{
	position: absolute;
	margin-top: 10px;
	display: flex;
	height: 2vh;
	width: 35vw;
	justify-content: space-around;
	align-items: center;
}

#btnCon1{
	left: 0;
}

#btnCon2{
	right: 0;
}