*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	background: #282B29;
	z-index: 1;
}

.arrayContainer{
	display: flex;
	align-items: flex-end;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 10px;
	height: 65vmin;
}

.bar{
	position: relative;
	width: 100%;
	background-color: white;
}

.row{
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 35%;
	height: 3vh;
	top: 1vmin;
}

.row:nth-child(1){
	left: 0;
}
.row:nth-child(2){
	right: 0;
}
.row:nth-child(3){
	right: 0;
	top: 5vmin;
}

.column, .x2column{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.column{
	flex: 1;
}

.x2column{
	flex: 2;
}