.text{
	position: absolute;
	width: 250px;
	left: 50%;
	margin-left: -125px;
	bottom: -35%;
	text-align: center;
	display: none;
}

.text span{
	position: relative;
	display: inline-block;
	color: orange;
	font-size: 2vh;
	text-transform: uppercase;
}

.text span.dots{
	animation: animate 1s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--j));
}

.text span.exmark{
	animation: animate 1s ease-in-out infinite;
}

@keyframes animate{
	0%{
		transform: translateY(0px);
	}
	20%{
		transform: translateY(-15px);
	}
	40%, 100%{
		transform: translateY(0px);
}